<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.college.yi.bookmanager.repository.UserMapper">

    <resultMap id="UserResultMap" type="com.college.yi.bookmanager.entity.UserEntity">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="enabled" column="enabled"/>
    </resultMap>

    <select id="findByUsername" parameterType="String" resultMap="UserResultMap">
        SELECT id, username, password, role, enabled
        FROM users
        WHERE username = #{username}
    </select>

</mapper>
